* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;

    background: silver;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: grey;
}

body {
    font-family:
        roboto,
        segoe ui;
    margin: 0 !important;

    color: #212529;
    background-color: rgb(241, 241, 241);
    margin: top 2px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.collumnItem {
    top: 60px;
    padding: 30px;
    gap: 10px;
    width: 100%;
    background-color: #fff;

    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-align: left;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
