.topbar {
    background: #fff;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000000;
    width: 100%;
    margin-bottom: 2px;
}

.logo {
    display: inline-block;
    vertical-align: inherit;
    width: 15%;
    margin-left: 10px;
    z-index: 10;
}

.topArea {
    color: #545454;
    font-weight: 400;
    width: 40%;
}

.settings_item {
    color: #373b3f;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

.settingsBar {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 120px;
}
.userNav {
    display: flex;
    position: relative;
    padding: 10px 0px 10px 120px;
}

.container {
    display: inline-flex;
    text-align: center;
    vertical-align: center;
    padding: 20px 35px;
    grid-template-rows: auto auto auto;
}

.userNav img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    right: 0;
}

.menuIcon {
    cursor: pointer;
    right: 15px;
    top: 30%;
    font-size: 20px;
    margin-right: 20px;
}

.settingsBar a {
    position: relative;
    font-size: 22px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 100%;
}

.collumnItem {
    top: 60px;
    padding: 15px;
    gap: 10px;
    width: 100%;
    background-color: rgb(253, 253, 253);

    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.dataList {
    list-style-type: none;
}

.collumnItem h2 {
    margin-left: 40px;
    margin-bottom: 30px;
}

.status {
    position: absolute;
    height: 13px;
    width: 13px;

    border-radius: 50%;
    bottom: 5px;
    right: 0px;
    background-color: #fff;
}
.online {
    border: solid 3px #7fba00;
}
.away {
    border: solid 3px #f0b000;
}
.offline {
    border: solid 3px #b4b4b4;
}
.userSettings {
    display: none;
    position: absolute;
    width: 120px;
    background-color: #fafafa;
    list-style: none;
    top: 60px;
    right: -40px;
}
.userSettings li {
    padding: 10px 20px;
    cursor: pointer;
}
.userSettings li:hover {
    background-color: #ebebeb;
    color: #0095f8;
    transition: all 0.3s;
}
.userNav:hover > .userSettings {
    display: block;
}

.userSettings:hover {
    display: block;
}
.topRightSide {
    display: flex;
    align-items: center;
}
